body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
  max-width: 1080px;
  margin: 0 auto;
}
.nav-container {
  margin: auto;
  /* margin-bottom: 50px; */
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.nav-container svg {
  color: white;
}
a {
  text-decoration: none;
}
.post-dialog {
  width: 450px;
  height: 90px;
}
.ind-post {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: relative;
}
.progress-bar {
  height: 3px;
  background-color: sandybrown;
}
.comment-img {
  width: 80px;
  object-fit: cover;
}
.comment-card {
  margin: 0 auto;
  margin-bottom: 3px;
  width: 92%;
  height: 80px;
  padding-bottom: 5px;
}
.delete-comment {
  position: absolute;
  top: -65%;
  left: 43%;
}
.notification-time {
  margin-left: 10px;
}
.delete-post {
  position: absolute;
  top: 69%;
  left: 45%;
}
.post-body {
  position: absolute;
  padding-left: 5px;
  text-align: left;
  padding-top: 8px;
  width: 100%;
  top: 35%;
  left: 2%;
  font-size: 1.3rem;
}
.post-time {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 63%;
  margin-bottom: 10px;
}
.post-author {
  position: absolute;
  width: 100%;
  top: 16%;
  left: -43%;
}
.MuiCardContent-root:last-child {
  padding-bottom: 3px;
}
.MuiTypography-body1 {
  font-size: 1.15rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
