body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
  max-width: 1080px;
  margin: 0 auto;
}
.nav-container {
  margin: auto;
  /* margin-bottom: 50px; */
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.nav-container svg {
  color: white;
}
a {
  text-decoration: none;
}
.post-dialog {
  width: 450px;
  height: 90px;
}
.ind-post {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: relative;
}
.progress-bar {
  height: 3px;
  background-color: sandybrown;
}
.comment-img {
  width: 150px;
  object-fit: cover;
}
.comment-card {
  margin-bottom: 15px;
}
